.button-container {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(255, 149, 0);
    border-radius: 5px;
    display: flex;
    display: 100%;
    justify-content: flex-start;
    gap: 10px;
    row-gap: 1opx;
    align-items: center;

}

.custom-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.custom-button:hover {
    background-color: #f45858f4;
}

.toyota {
    color: red;
    font-size: 36px;
    background-color: white;
    border: none;
}
.main-imagine {
    display: flex;
    width: 100%;
}
.right-button {
    position: relative;
    left: 700px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-button:hover {
    background-color: #f45858f4;
}

.row {
    font-size: 28px;
}

.text-1 {
    font-size: 24px;
    border-style:dashed ;
    border-color: red;
    display: flex;
    width: 50%;
    padding: 10px;
}