.button-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(255, 149, 0);
    border-radius: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    row-gap: 1opx;
    align-items: center;
    position: fixed;

}

.custom-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.custom-button:hover {
    background-color: #f45858f4;
}

.toyota {
    color: red;
    font-size: 36px;
    background-color: white;
    border: none;
}
.main-imagine {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.right-button {
    position: relative;
    left: 700px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-button:hover {
    background-color: #f45858f4;
}

.row {
    font-size: 28px;
    padding-bottom: 20px;
}

.container-2 {
    display: flex;
    border: 0.5px;
    border-style: dashed;
    border-color: red;
    align-items: center;
}

.text-1 {
    font-size: 16px;
    display: flex;
    width: 50%;
    padding-left: 10px;
    flex-direction: column;
    padding-right: 20px;
}

.video-1 {
    display: flex;
    width: 800px;
    border-left: 0.5px;
    border-top: 0px;
    border-width: 0px;
    border-right: 0px;
    border-style: dashed;
    border-color: red;
    padding-top: 10px;
    padding-bottom: 10px;

}

html body {
    margin: 0px;
}

.dropdown {
    position: relative; /* Позиционирование для дочерних элементов */
    display: inline-block; /* Чтобы панель была на одной линии с кнопкой */
}

/* Стили для кнопки */
.dropdown-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    
}

/* Стили для панели */
.dropdown-panel {
    display: none; /* Скрываем панель по умолчанию */
    position: absolute; /* Позиционируем панель относительно кнопки */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Находится поверх других элементов */
}

/* Показываем панель при наведении на контейнер */
.dropdown:hover .dropdown-panel {
    display: block; /* Показываем панель при наведении на родительский элемент */
}

.dropdown-panel ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}

.dropdown-panel li {
    padding: 10px; /* Отступы внутри элементов списка */
    cursor: pointer; /* Указываем, что элемент кликабельный */
}

.dropdown-panel li:hover {
    background-color: #c09090; /* Подсветка при наведении */
}

.img-box {
    display: flex;
    width: 100%;
    gap: 100px;
    border-style: dashed;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}

.img-1  {
    display: flex;
    width: 300px;
    margin: 0px;

}

.img-2 {
    display: flex;
    width: 300px;
    border-style: dashed;
}



.img-3 {
    display: flex;
    width: 375px;

}

.history-img {
position: relative;
left: 100px;
}

/* Asigură-te că stilurile se aplică doar galeriei specificate */
.photo-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite fotografiilor să se aranjeze pe mai multe rânduri */
    gap: 30px; /* Spațiere între fotografii */
    justify-content: center; /* Aliniază centrul conținutului */
    padding: 20px;
  }
  
  .photo-gallery .photo-item {
    text-align: center;
    max-width: 300px; /* Dimensiune mai mare pentru fotografii */
  }
  
  .photo-gallery .photo-item img {
    width: 100%; /* Imaginea se ajustează la container */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .photo-gallery .photo-item p {
    margin-top: 10px;
    font-size: 16px; /* Font mai mare */
    color: #444; /* Text mai întunecat pentru vizibilitate */
    word-wrap: break-word;
  }
  
 /* Stiluri pentru containerul care conține imaginile */
.image-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Stilul pentru prima imagine care ocupă 50% din lățimea containerului */
.image1 {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* Containerul pentru celelalte două imagini */
.side-images {
    display: flex;
    width: 50%;
    height: 100%;
}

/* Stilul pentru fiecare din cele două imagini din partea dreaptă */
.image2, .image3 {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.text-bottom {
    position: absolute;
    bottom: 10px; /* Poziționează textul la 10px de partea de jos a imaginii */
    left: 50%;
    transform: translateX(-50%); /* Centerază textul pe orizontală */
    color: white; /* Poți schimba culoarea textului */
    font-size: 20px; /* Ajustează dimensiunea textului */
    font-weight: bold; /* Poți schimba stilul fontului */